@font-face {
  font-family: PublicPixel;
  src: url(PublicPixel.ttf);
}

* {
 margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
      background-image: url('bgimage4.jpg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      font-family: 'PublicPixel', cursive;
      color: white;
      overflow: scroll;
      font-size: 16px;
  }

  .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto auto auto;
      grid-gap: 1rem;
      height: 100vh;
  }

  .welcome {
      grid-row: 1;
      grid-column: 1;
      margin: 1rem;
      text-align: left;
      text-shadow: 0.1rem 0.1rem 0.2rem blue;
  }

  .title {
      grid-row: 2;
      grid-column: 1;
      text-align: center;
      margin-bottom: 1.5rem;
      text-shadow: 0.1rem 0.1rem 0.2rem blue;
  }

  .game {
      grid-row: 3;
      grid-column: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  .game2 {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap:6.25rem;
  }

  .rank {
      grid-row: 5;
      grid-column: 1;
      text-align: center;
      margin: auto;
  }
  .score {
      grid-row: 4;
      grid-column: 1;
      color: white;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-shadow: 0.1rem 0.1rem 0.2rem blue;
  }
  .js-result, .js-move, .reset{
    margin: 50px;
  }
  .game button, .rank table, .reset button {
      /* Changed font-family and background color */
      font-family: 'PublicPixel', cursive;
      color: white;
      background-color: #262A56;
      border: none;
      border-radius: 20%;
      margin: 0.3125rem;
  }
  .reset button{
    width: 6.25rem;
    height: 3.125rem;
    text-shadow: 0.1rem 0.1rem 0.2rem black;
  }
  .game button img{
      width: 12.5rem;
      height: 12.5rem;
      border-collapse: collapse;
  }
   .rank table {
    width: 37.5rem;
    height: 9.375rem;
    border-collapse: collapse;
    text-shadow: 0.1rem 0.1rem 0.2rem black;	
   }

  .flash {
      animation: blink 2s linear infinite;
  }

  @keyframes blink {
      0% {
          opacity: 0;
      }
      50% {
          opacity: 1;
      }
      100% {
          opacity: 0;
      }
  }

  .copyright {
    grid-row: 6;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
      width:auto;
      /*height: 25px; */
      position: relative;
      bottom: 0.625rem;
      /*left: 50%;*/
      /*transform: translateX(-50%);*/
      font-size: 0.875rem;
      color: #8F43EE;
      font-weight: bold;
      opacity: 0.8;
      backdrop-filter: blur(20px) saturate(90%);
      margin-top: 1.25rem;
     
    }
 .heart {
    width: 20px; /* adjust size as needed */
    height: 20px; /* adjust size as needed */
    background-image: url('heart.png');
    background-size: contain;
    display: inline-block;
    margin-left: 5px; /* adjust spacing as needed */
}
  .js-total{
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 12px;
    text-shadow: 5px 5px 10px blue;
  }

  .imgbtn{
   width: 80px;
   height: 80px;
 }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {

    .welcome{
      font-size: 12px;

    }

    .title {
      width: 90%; /* Limit width to 80% of the viewport */
      margin: 0 auto; /* Center the title horizontally */
    }

    .game button img{

    width: 9.5rem;
    height: 9.5rem;
    }

    .js-total{
    font-size: 8px;	

    }
      
  }
  
  @media only screen and (max-width: 767px) {
   body{
     font-size: 10px;

   }

   .welcome{
     font-size: 8px;
   }
   .js-total{
     font-size: 5px;
   }

   .title {
        width: 90%; /* Limit width to 80% of the viewport */
        margin: 0 auto; /* Center the title horizontally */
        word-wrap: break-word; /* Allow long words to wrap */
        overflow-wrap: break-word; /* Ensure long words are broken at appropriate points */
    }

    .game button img{

    width: 5.5rem;
    height: 5.5rem;
    }
    .game2 {
      gap:2rem;
    }

    .rank table {
    width: 15.5rem;
    height: 7.375rem;
    margin: 1rem;	
     }
     .reset button{
       margin: 1rem;
     }
     .copyright{
       font-size: 0.55rem;
     }
     .imgbtn{
       width: 2rem;
       height: 2rem;
     }
 }
 
/* Popup styles */
.popup {
  position: fixed;
height: 50px;
width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  display: none;
}

.logout {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-family: 'PublicPixel', cursive;
  background-color: #262A56;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20%;
  text-shadow: 0.1rem 0.1rem 0.2rem black;
  cursor: pointer;
margin-top: 5px;
}